{% extends "main/base.html" %}

{% block content %}

<h2>Кошик</h2>

{% for item in cart_items %}
    <div class="cart-item">
        <h3>{{ item.product.title }}</h3>

        {% if item.product.image %}
            <img src="{{ item.product.image.url }}" width="200">
        {% endif %}

        <p><b>Кількість:</b> {{ item.quantity }}</p>
        <p><b>Ціна:</b> {{ item.product.price }} грн</p>
    </div>
{% empty %}
    <p>Кошик порожній.</p>
{% endfor %}

<a href="/">На головну</a>

{% endblock %}