{% extends "main/base.html" %}

{% block content %}

<h2>Товари</h2>

<!-- Меню категорій -->
<h3>Категорії</h3>

{% for cat in categories %}
    <a href="/category/{{ cat.id }}/">
        {{ cat.title }}
    </a>
{% endfor %}

<hr>

<!-- Товари -->
{% for product in products %}
    <div>

        <h3>
            <a href="/product/{{ product.id }}/">
                {{ product.title }}
            </a>
        </h3>

        {% if product.image %}
            <img src="{{ product.image.url }}" width="200">
        {% endif %}

        <p>{{ product.description }}</p>

        <p>Ціна: {{ product.price }}</p>

        <a href="/product/{{ product.id }}/">
            Детальніше
        </a>

    </div>

    <hr>
{% endfor %}

<!-- Підписка -->
<h3>Підписка на розсилку</h3>

<form action="/subscribe/" method="post">
    {% csrf_token %}

    <input
        type="email"
        name="email"
        placeholder="Введіть email"
        required
    >

    <button type="submit">
        Підписатися
    </button>
</form>

<br>

<a href="/cart/">Перейти в кошик</a>

{% endblock %}